{{extend 'layout.html'}}
<div class="bloque center">
    {{for producto in productos:}}
  <div class="promo" onclick="window.location='{{=URL('producto','/detalleProducto/%s/%s'%(producto.id,producto.categoria))}}'">
      <div class="title"><h4><span>{{=producto.nombre}}</span></h4></div>
      <figure class="contenedor" >
      <img src="{{=URL('producto','admin/download/%s'%producto.imagen)}}" width="150px" alt="{{=producto.descripcion}}" />
      </figure>
      <div><b><i>${{=producto.precioVenta}}</i></b></div>
  </div>
  {{pass}}
</div>
<div class="bloque center">
    {{for producto in productos2:}}
  <div class="promo" onclick="window.location='{{=URL('producto','/detalleProducto/%s/%s'%(producto.id,producto.categoria))}}'">
      <div class="title"><h4><span>{{=producto.nombre}}</span></h4></div>
      <figure class="contenedor" >
      <img src="{{=URL('producto','admin/download/%s'%producto.imagen)}}" width="150px" alt="{{=producto.descripcion}}" />
      </figure>
      <div><b><i>${{=producto.precioVenta}}</i></b></div>
  </div>
  {{pass}}
</div>