{{extend 'layout.html'}}
<h4>{{=titulo}}</h4>
<div class="panel-heading" style='position:relative'>
{{=A('limpiarbodega', callback=URL('limpiarbodega'), target="t")}}
{{=A('limpiarcategoria', callback=URL('limpiarcategoria'), target="t")}}
{{=A('limpiarevento', callback=URL('limpiarevento'), target="t")}}
{{=A('limpiarpromocion', callback=URL('limpiarpromocion'), target="t")}}</div>
<div class="panel-heading" style='position:relative'>
{{=A('limpiartipoVino', callback=URL('limpiartipoVino'), target="t")}}
{{=A('limpiarvarietal', callback=URL('limpiarvarietal'), target="t")}}
{{=A('limpiarformaPago', callback=URL('limpiarformaPago'), target="t")}}
{{=A('limpiarzona', callback=URL('limpiarzona'), target="t")}}</div>
<div class="panel-heading" style='position:relative'>
{{=A('limpiarnoticia', callback=URL('limpiarnoticia'), target="t")}}
{{=A('limpiarproducto', callback=URL('limpiarproducto'), target="t")}}
{{=A('limpiardomicilio', callback=URL('limpiardomicilio'), target="t")}}
{{=A('limpiarventa', callback=URL('limpiarventa'), target="t")}}
{{=A('limpiardetalleVenta', callback=URL('limpiardetalleVenta'), target="t")}}</div>

<h4>Cuidado, vas a borrar todo con el siguiente Link</h4>
<div class="panel-heading">{{=A('limpiarTODO', callback=URL('limpiarTODO'), target="t")}}</div>
<div class="panel-heading">{{=A('limpiarUsers', callback=URL('limpiarUsers'), target="t")}}</div>

<h4>Poblacion de tablas</h4>
{{=A('poblarCategoria', callback=URL('poblarCategoria'), target="t")}}
{{=A('poblarVarietal', callback=URL('poblarVarietal'), target="t")}}
{{=A('poblarTipoVino', callback=URL('poblarTipoVino'), target="t")}}
{{=A('poblarBodegas', callback=URL('poblarBodegas'), target="t")}}
{{=A('poblarFormaPago', callback=URL('poblarFormaPago'), target="t")}}
