{{extend 'layout.html'}}
{{from datetime import date}}
<h1>{{=titulo}}</h1>
<style>
    .en-fila {
        display: inline-block;
        text-align: left;
        padding: 20px;
        border-color: black;
        border-width: 1px;
    }
    .en-fila p {
        font-variant: small-caps;
        font-size: 16px;
    }
    .en-fila label,
    .en-fila strong {
        padding: 10px;
    }

    .bloque {
        display: block;
        align-self: center;
        padding: 20px;
    }
    .contenedor {
        width: 100%;
        height: 50%;
        position: relative;
        display: block;
        padding: 3px;
    }
    .contenido {
        overflow: auto;
        width: 95%;
        height: 95%;
    }
</style>

<div class="contenedor" >
    <div class="contenido">
    {{for r in rows:}}
        <div class="bloque col-md-9 center">
            <div class="en-fila col-md-offset-3 col-md-3">
                <p>{{=r.motivo}}</p>
                <br />
                <label>Autor:</label><strong>{{=A('%s %s'%(r.nombre,r.apellido), _href='mailto:%s'%r.email)}}</strong><br />
                <label>Fecha:</label><strong>{{=r.fecha.strftime("%d/%m/%y")}}</strong>

            </div>
            <div class="en-fila col-md-9">{{=A('Responder',_href=URL('contacto','responder/%s'%r.id),_class='btn btn-primary')}}</div>
        </div>
    {{pass}}
    </div>
</div>
