<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            .firma {
                position: absolute;
                font-weight: bold;
                right: 0;
                bottom: 0;
                height: 50px;
                width: 50%;
            }
        </style>
    </head>
    <body>
        Estimado {{=usuario.first_name}},
            <p>Ha ganado el segundo premio, un set de cuchillos para asado.</p>
        <p>Saluda atentamente</p>
        <div class='firma'>
            Bukino Vinoteca <br />
            Tel: 011-4951-2236 <br />
            Cel:15-4787-7909<br />
        </div>
    </body>
</html>
