<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            .firma {
                position: absolute;
                font-weight: bold;
                right: 0;
                bottom: 0;
                height: 50px;
                width: 50%;
            }
        </style>
    </head>
    <body>
        Estimado {{=usuario.first_name}},
        <p>Le informamos que contamos con un nuevo evento.

            Nombre: <br />{{=informa.nombre}}
            Detalles: <br />{{=informa.caracteristicas}}
            Requisitos: <br />{{=informa.requisitos}}
            Fecha:  <br />{{=informa.fecha}}
            Hora:  <br />{{=informa.hora}}
            Precio:  <br />{{=informa.precio}}
            Duracion estimada: <br />{{=informa.duracion}}
        </p>
        <p>Saluda atentamente</p>
        <div class='firma'>
            Bukino Vinoteca <br />
            Tel: 011-4951-2236 <br />
            Cel:15-4787-7909<br />
        </div>
    </body>
</html>
