{{extend 'layout.html'}}
<style>
    .contenedor {
        width:100%;
        text-align:center;
    }
    .evento small {
        font-size: 0.5em;
    }
    .evento > div {
        padding:50px; 
        margin: 10px;
    }
    .evento img {
        width: 200px;
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
    }
</style>

<h1>{{=evento.nombre}}</h1>

<div class="evento col-md-offset-3 col-md-6" >
    <div class="col-md-12">
        <h3><i>{{=evento.caracteristicas}} </i></h3>
        <br />
        <br />
        <b>Requisitos: {{=evento.requisitos}} </b>
        <br />
        <div style="align-content: flex-end;">A realizarse el {{=evento.fecha}} a las {{=evento.hora}} por {{=evento.duracion}} minutos</div>
        <div>
            {{=volver}}
        </div>
    </div>
</div>

