{{extend 'layout.html'}}
<style>
    .contenedor {
        width:100%;
        text-align:center;
    }
    .noticia small {
        font-size: 0.5em;
    }
    .noticia > div {
        padding:15px; 
        margin: 10px;
    }
    .noticia img {
        width: 100%;
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
    }
</style>

<h1>{{=noticia.titulo}}</h1>

<div class="noticia col-md-offset-3 col-md-6" >
    {{if noticia.imagen:}}
    <div  class="col-md-12">
        <img src="{{=URL('noticia','admin/download/%s'%noticia.imagen)}}" >
    </div>
    {{pass}}
    <div class="col-md-12">
        <h4>{{=noticia.copete}}</h4>
        <br />
        <i>{{=noticia.cuerpo}}</i>
        <br />
        <br />
        <br />
        <div style="align-content: flex-end;"><cite>Escrito el {{=noticia.fecha}} por {{=noticia.autor}}</cite></div>
        <div>
            {{=volver}}
        </div>
    </div>
</div>

