{{right_sidebar_enabled=tieneCompraVigente}}
{{extend 'layout.html'}}
<style>
    div.static {
            width: 300px;
            padding: 20px;
            display: inline-block;
            vertical-align:top;
            text-align: left;
    }
    div.contenedor{
        width: 800px;
        padding: 20px;
        text-align:center;
    }
    h3{
        text-align:center;
    }
</style>

<div>

    <div>
      <h3>Detalle de Producto: </h3>
    </div>

    <div class="contenedor">

        <div class="static">
          <img src="{{=URL('producto','admin/download/%s'%producto.imagen)}}" width="150px">
        </div>


        <div class="static">
            <div>
              {{if categoria=='3' :}}
                  <div>
                      <div><h4><span>{{=producto.nombre}}</span></h4></div>
                      <div>  <strong>Descripción: </strong>{{=producto.descripcion}} </div>
                      <div>  <strong>Cantidad disponible: </strong>{{=producto.cantidad}}</div>
                      <div>  <strong>Tipo: </strong>{{=producto.tipo}}</div>
                      <div>  <strong>Varietal: </strong>{{=producto.varietal}}</div>
                      <div>  <strong>Origen: </strong>{{=producto.origen}}</div>
                      <div>  <strong>Año: </strong>{{=producto.anio}}</div>
                      <div>  <strong>Bodega: </strong>{{=producto.bodega}}</div>
                      <div>  <strong>Precio: </strong>{{=producto.precioVenta}}</div>
                  </div>
              {{else:}}
                  <div>
                      <div><h4><span>{{=producto.nombre}}</span></h4></div>
                      <div><strong>Descripción: </strong>{{=producto.descripcion}} </div>
                      <div><strong>Cantidad disponible: </strong>{{=producto.cantidad}}</div>
                      <div><strong>Origen: </strong>{{=producto.origen}}</div>
                      <div><strong>Precio: </strong>{{=producto.precioVenta}}</div>
                  </div>
              {{pass}}
              <div>
                  {{if auth.user:}}
                  <form action="{{=URL('compra','impactarProducto')}}" >
                      <input type="hidden" name="idProducto" value= "{{=producto.id}}" />
                      <input type="hidden" name="categoria" value= "{{=categoria}}" />
                      <div style="padding: 10px;">
                          <input type="number" id="cantidad" name="cantidad" min="1" max="{{=producto.cantidad}}" required />
                      </div>
                          <input type="submit" value="Agregar al Carrito" class="btn btn-primary" />
                      {{pass}}
                      {{=A('Volver', _href=URL('productosListados/%s' %categoria), _class="w2p-form-button btn btn-default" )}}

                  </form>
              </div>
            </div>
        </div>


    </div>

</div>


{{if right_sidebar_enabled:}}

    {{block right_sidebar}}
    <div class="panel panel-success" style="width:150%;padding: 10px;">
      <div class="panel-heading">
          <h5 style="text-align:center;">Carrito de Compra</h5>
      </div>
      <div class="panel-body">
          <div class="small-buy">
              <table style="width:100%;">
                  <tr style="text-align:center;">
                          <td><b>Producto</b></td>
                          <td><b>Cantidad</b></td>
                          <td><b>Precio</b></td>
                  </tr>
                  {{if detVenta is not None:}}
                      {{for row in detVenta:}}
                      <tr>
                          <td>{{=row.producto.nombre}} </td>
                          <td>{{=row.detalleVenta.cantidad}}</td>
                          <td style='text-align:right;'>{{=(row.producto.precioVenta*row.detalleVenta.cantidad)}}</td>
                      </tr>
                      {{pass}}

                  {{pass}}
                      <tr>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                      </tr>
                      <tr>
                          <td><b>Total compra: </b></td>
                          <td> </td>
                          <td style='text-align:right;'>{{=importeTotal}} </td>
                      </tr>
              </table>
      </div>
      <ul class="list-group">
         <li class="list-group-item">{{=A(T("Ver detalles / Finalizar "), _href=URL('compra', 'detalleCompraCliente/%s'%idVenta))}}</li>
         <li class="list-group-item">{{=A(T("Cancelar compra"), _href=URL('compra', 'cancela/%s'%idVenta), _onclick="javascript:return confirm('Desea eliminar la venta?');")}}</li>
      </ul>
    </div>
    {{end}}

{{pass}}
