{{right_sidebar_enabled=True}}
{{extend 'layout.html'}}
<style>
    div.static {
        width: 200px;
        padding: 20px;
        display: inline-block;
        vertical-align:top;
    }
    form div{
        display: inline-block;
        color: darkviolet;
    }
</style>

{{block header}}
<h1>{{=titulo}}</h1>
{{=form}}
{{end}}

<div>
        {{for producto in productos:}}
          <div class="static">
            <div class="row">
              <div>
                <img src="{{=URL('producto','admin/download/%s'%producto.imagen)}}" width="150px">
                <div class="name">
                  <h4><a href="{{=URL('detalleProducto/%s'%producto.id)}}"><span>{{=producto.nombre}}</span></a></h4>
                </div>
                {{=producto.descripcion}}
                <div class="lower-container">
                  <div class="small-buy">
                    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                      <span class="product-price">$ {{=producto.precioVenta}}</span>
                    </div>
                      {{=A('Detalle', _href=URL('detalleProducto/%s'%producto.id), _class="buy-btn small" )}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{pass}}

</div>

{{if right_sidebar_enabled:}}
<div class="span3">
    {{block right_sidebar}}
    <h3>Barra lateral derecha</h3>
    <p></p>
    {{end}}
</div>
{{pass}}
