{{right_sidebar_enabled=tieneCompraVigente}}
{{extend 'layout.html'}}
<style>
    div.static {
        width: 200px;
        padding: 20px;
        display: inline-block;
        vertical-align:top;
    }
    form div{
        display: inline-block;
        color: darkviolet;
        padding: 10px;

    }
    #submit_record__row input{
        vertical-align: top;
    }
</style>

{{block header}}

<h1>{{=titulo}}</h1>
{{=form}}

{{end}}

<div style="width:100%;text-align:center;">

    {{for i, producto in enumerate(productos):}}
     {{if i==elementos_por_pagina: break}}

      <div class="static">
        <div class="row">
          <div>
            <img src="{{=URL('producto','admin/download/%s'%producto.imagen)}}" width="150px">
            <div>
              <h4><a href="{{=URL('producto/detalleProducto/%s'%producto.id,'/%s'%categoria)}}"><span>{{=producto.nombre}}</span></a></h4>
            </div>
            {{=producto.descripcion}}
            <div class="lower-container">
              <div class="small-buy">
                <div>
                  <span class="product-price">$ {{=producto.precioVenta}}</span>
                </div>
                  {{=A('Detalle', _href=URL('producto/detalleProducto/%s'%producto.id,'/%s'%categoria), _class="buy-btn small" )}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{pass}}

</div>
<div style="width:100%;text-align:center;">
    {{if pagina:}}
    <a href="{{=URL(args = categoria, vars=dict(pagina=pagina-1))}}" class="btn btn-default">Anterior</a>
    {{pass}}

    {{if len(productos)>elementos_por_pagina:}}
    <a href="{{=URL(args = categoria, vars=dict(pagina=pagina+1))}}" class="btn btn-default">Siguiente</a>
    {{pass}}

</div>

{{if right_sidebar_enabled:}}

    {{block right_sidebar}}
    <div class="panel panel-success" style="width:150%;padding: 10px;">
      <div class="panel-heading ">
          <h5 style="text-align:center;">Carrito de Compra</h5>
      </div>
      <div class="panel-body">
          <div class="small-buy">
              <table style="width:100%">
                  <tr style="text-align:center;">
                          <td><b>Producto</b></td>
                          <td><b>Cantidad</b></td>
                          <td><b>Total</b></td>
                  </tr>
                  {{if detVenta is not None:}}
                      {{for row in detVenta:}}
                      <tr>
                          <td>{{=row.producto.nombre}} </td>
                          <td>{{=row.detalleVenta.cantidad}}</td>
                          <td style='text-align:right;'>{{=(row.producto.precioVenta*row.detalleVenta.cantidad)}}</td>
                      </tr>
                      {{pass}}

                  {{pass}}
                      <tr>
                          <td><b>Total compra: </b></td>
                          <td> </td>
                          <td style='text-align:right;'>{{=importeTotal}} </td>
                      </tr>
              </table>
      </div>
      <ul class="list-group">
        <li class="list-group-item">{{=A(T("Ver detalles / Finalizar "), _href=URL('compra', 'detalleCompraCliente/%s'%idVenta, vars=dict(idCategoria=categoria)))}}</li>
        <li class="list-group-item">{{=A(T("Cancelar compra"), _href=URL('compra', 'cancela/%s'%idVenta), _onclick="javascript:return confirm('Desea eliminar la venta?');")}}</li>
      </ul>
    </div>
    {{end}}

{{pass}}
