{{right_sidebar_enabled=tieneCompraVigente}}
{{extend 'layout.html'}}
<style>
    div.static {
        width: 200px;
        padding: 20px;
        display: inline-block;
        vertical-align:top;
    }
    form div{
        display: inline-block;
        color: darkviolet;
    }
</style>

{{block header}}
<h1>{{=titulo}}</h1>
{{=form}}
{{end}}

<div>
    {{for producto in productos:}}
      <div class="static">
        <div class="row">
          <div>
            <img src="{{=URL('producto','admin/download/%s'%producto.imagen)}}" width="150px">
            <div class="name">
              <h4><a href="{{=URL('detalleProducto/%s'%producto.id)}}"><span>{{=producto.nombre}}</span></a></h4>
            </div>
            {{=producto.descripcion}}
            <div class="lower-container">
              <div class="small-buy">
                <div>
                  <span class="product-price">$ {{=producto.precioVenta}}</span>
                </div>
                  {{=A('Detalle', _href=URL('producto/detalleProducto/%s'%producto.id,'/%s'%categoria), _class="buy-btn small" )}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{pass}}

</div>

{{if right_sidebar_enabled:}}

    {{block right_sidebar}}
    <div class="panel panel-success">
      <div class="panel-heading">
          <h3 class="panel-title">Carrito de Compra</h3>
      </div>
      <div class="panel-body">
        Items
      </div>
      <ul class="list-group">
        <li class="list-group-item">{{=A(T("Ver detalles / Finalizar "), _href=URL('venta', 'index'))}}</li>
        <li class="list-group-item">{{=A(T("Cancelar Compra"), _href=URL('venta', 'index'))}}</li>
      </ul>
    </div>
    {{end}}

{{pass}}
