{{extend 'layout.html'}}
<style>
    .contenedor {
        width:100%;
        text-align:center;
    }
    .promo {
        text-align: left !important;
        width: 20%;
        width: 20%;
        display: inline-block;
        padding: 50px;
        position: relative;
        vertical-align: top;
        box-sizing: border-box;
        box-shadow: 3px 3px 2px #6b9430;
        margin: 50px;
    }
    .promo small {
        font-size: 0.5em;
    }
    h4 span {
        color: #730fcc;
    }
</style>
<h1> Promociones imperdibles</h1>

<div class='contenedor'>
{{for i, p in enumerate(promociones):}}
    <div class="promo" onclick="window.location='{{=URL('detalle/%s'%p.id)}}'">
        <h4><span>{{=p.promo}}</span></h4>

        <small>desde {{=p.fechaDesde}} hasta {{=p.fechaHasta}} </small>

    </div>
{{pass}}

</div>
<small>*Las promociones indicadas solo se aplican para las ventas en el local.</small>
