{{extend 'layout.html'}}
<style>
    div.static {
        width: 300px;
        padding: 20px;
        display: inline-block;
        vertical-align:top;
    }
    table.compra{
        color: #FFFFFF;
        background-color: #4CAF50;
        width:80%;
        border-style: solid;
    }
</style>

<h3 style="text-align:center;">Datos de Compra</h3>

<div>
<table class="compra">
  <tr style="text-align:center;">
          <td><b>Producto</b></td>
          <td><b>Cantidad</b></td>
          <td><b>Precio*Unidad</b></td>
          <td><b>Precio</b></td>
  </tr>
  {{if detVenta is not None:}}
      {{for row in detVenta:}}
      <tr>
          <td>{{=row.producto.nombre}} </td>
          <td style='text-align:center;'>{{=row.detalleVenta.cantidad}}</td>
          <td style='text-align:right;'>{{=row.producto.precioVenta}}</td>
          <td style='text-align:right;'>{{=(row.producto.precioVenta*row.detalleVenta.cantidad)}}</td>
      </tr>
      {{pass}}

  {{pass}}

      <tr>
          <td> </td>
          <td> </td>
          <td> </td>
      </tr>
      <tr style='text-align:right;'>
          <td> </td>
          <td> </td>
          <td><b>Total: </b></td>
          <td><b>{{=importeTotal}} </b></td>
      </tr>
</table>

</div>



<div>

</div>
<div style="width:60%;">
    {{=form}}
</div>
