<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            .firma {
                position: absolute;
                font-weight: bold;
                right: 0;
                bottom: 0;
                height: 50px;
                width: 50%;

            }
        </style>
    </head>
    <body>
        <h4>Pedido procesado!</h4>
        <p>Hola {{=nombre}}</p>
        <p class='letter'>El pedido número {{=numero}} del día {{=fechaPedido}} ha sido procesado.
         El mismo será entregado el día {{=fechaEntrega}} en el rango de 14 a 18 hs.<br />
        Cualquier inconveniente no dude en comunicarse con nosotros.
        Desde ya muchas gracias y esperamos disfrute mucho los productos comprados.</p>

        <p>Saluda atentamente</p>
        <div class='firma'>
            Bukino Vinoteca <br />
            Tel: 011-4951-2236 <br />
            Cel:15-4787-7909<br />
        </div>
    </body>
</html>
