{{extend 'layout.html'}}
<h1>Está es la plantilla test/listaProds.html</h1>

{{for i, registro in enumerate(registros):}}
{{if i==elementos_por_pagina: break}}

<div class="static">
        <div class="row">
          <div>
            <img src="{{=URL('producto','admin/download/%s'%registro.imagen)}}" width="150px">
            <div>
              <h4><a href="{{=URL('producto/detalleProducto/%s'%registro.id,'/%s'%categoria)}}"><span>{{=registro.nombre}}</span></a></h4>
            </div>
            {{=registro.descripcion}}
            <div class="lower-container">
              <div class="small-buy">
                <div>
                  <span class="product-price">$ {{=registro.precioVenta}}</span>
                </div>
                  {{=A('Detalle', _href=URL('producto/detalleProducto/%s'%registro.id,'/%s'%categoria), _class="buy-btn small" )}}
              </div>
            </div>
          </div>
        </div>
      </div>


{{pass}}

{{if pagina:}}
<a href="{{=URL(args=[pagina-1])}}">previa</a>
{{pass}}

{{if len(registros)>elementos_por_pagina:}}
<a href="{{=URL(args=[pagina+1])}}">próxima</a>
{{pass}}
